# EX1

In [80]:
import pandas as pd

In [64]:
apple=pd.read_csv('D:/Data/aapl.csv',index_col=[0],parse_dates=[0])
amazon=pd.read_csv('D:/Data/amzn.csv',index_col=[0],parse_dates=[0])
fb=pd.read_csv('D:/Data/fb.csv',index_col=[0],parse_dates=[0])
google=pd.read_csv('D:/Data/goog.csv',index_col=[0],parse_dates=[0])
netflix=pd.read_csv('D:/Data/nflx.csv',index_col=[0],parse_dates=[0])

In [65]:
apple['ticker']='aapl'
amazon['ticker']='amzn'
fb['ticker']='fb'
google['ticker']='goog'
netflix['ticker']='nflx'

In [73]:
faang=pd.concat([apple,amazon,fb,google,netflix],axis=0, join="inner").sort_index()
faang

,high,low,open,close,volume,ticker
date,,,,,,
2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600.0,goog
2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500.0,amzn
2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900.0,nflx
...,...,...,...,...,...,...
2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300.0,fb
2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,aapl
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog
2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500.0,amzn
2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx

In [74]:
faang.to_csv('D:/Data/bruh.csv')

In [75]:
faang

,high,low,open,close,volume,ticker
date,,,,,,
2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600.0,goog
2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500.0,amzn
2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900.0,nflx
...,...,...,...,...,...,...
2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300.0,fb
2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,aapl
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog
2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500.0,amzn
2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx

In [76]:
faang.index = pd.to_datetime(faang.index)
faang

,high,low,open,close,volume,ticker
date,,,,,,
2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600.0,goog
2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500.0,amzn
2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900.0,nflx
...,...,...,...,...,...,...
2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300.0,fb
2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,aapl
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog
2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500.0,amzn
2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx

In [77]:
faang.sort_values(by=['date','ticker'])

faang

,high,low,open,close,volume,ticker
date,,,,,,
2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600.0,goog
2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500.0,amzn
2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900.0,nflx
...,...,...,...,...,...,...
2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300.0,fb
2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,aapl
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog
2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500.0,amzn
2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx

In [79]:
faang.sort_values(by='volume',ascending = True).head(7)

,high,low,open,close,volume,ticker
date,,,,,,
2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000.0,goog
2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500.0,goog
2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800.0,goog
2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400.0,goog
2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600.0,goog
2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800.0,goog
2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400.0,goog

# EX2

In [99]:
data = pd.read_csv('D:/Data/covid19_cases.csv')
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
43438,18/09/2020,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
43439,18/09/2020,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
43440,18/09/2020,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
43441,18/09/2020,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
43442,18/09/2020,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

In [100]:
data['date']=data.dateRep
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,date
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN,01/01/2020
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN,01/01/2020
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN,01/01/2020
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN,01/01/2020
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN,01/01/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43438,18/09/2020,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529,18/09/2020
43439,18/09/2020,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925,18/09/2020
43440,18/09/2020,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173,18/09/2020
43441,18/09/2020,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560,18/09/2020
43442,18/09/2020,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361,18/09/2020

In [101]:
data.set_index('date', inplace = True)

In [103]:
data.sort_index()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
01/01/2020,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Singapore,SG,SGP,5804343.0,Asia,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Egypt,EG,EGY,100388076.0,Africa,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Azerbaijan,AZ,AZE,10047719.0,Europe,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Switzerland,CH,CHE,8544527.0,Europe,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
31/08/2020,31/08/2020,31,8,2020,22,0,Aruba,AW,ABW,106310.0,America,841.877528
31/08/2020,31/08/2020,31,8,2020,10,1,Mauritania,MR,MRT,4525698.0,Africa,7.092829
31/08/2020,31/08/2020,31,8,2020,0,0,Saint_Vincent_and_the_Grenadines,VC,VCT,110593.0,America,2.712649
31/08/2020,31/08/2020,31,8,2020,0,0,Mauritius,MU,MUS,1269670.0,Africa,0.000000
31/08/2020,31/08/2020,31,8,2020,7731,181,Peru,PE,PER,32510462.0,America,342.105258

In [107]:
data.replace(to_replace=('United_States_of_America'), value=('USA'), inplace=True)
data.replace(to_replace=('United_Kingdom'), value=('UK'), inplace=True)
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
01/01/2020,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18/09/2020,18/09/2020,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
18/09/2020,18/09/2020,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
18/09/2020,18/09/2020,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
18/09/2020,18/09/2020,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
18/09/2020,18/09/2020,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

In [108]:
data.sort_values(by=['countriesAndTerritories'], ascending= True)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
24/01/2020,24/01/2020,24,1,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,0.000000
29/07/2020,29/07/2020,29,7,2020,103,1,Afghanistan,AF,AFG,38041757.0,Asia,4.550263
14/02/2020,14/02/2020,14,2,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,0.000000
28/04/2020,28/04/2020,28,4,2020,172,0,Afghanistan,AF,AFG,38041757.0,Asia,2.728581
19/06/2020,19/06/2020,19,6,2020,658,42,Afghanistan,AF,AFG,38041757.0,Asia,24.914727
...,...,...,...,...,...,...,...,...,...,...,...,...
09/06/2020,09/06/2020,9,6,2020,5,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,1.577279
06/09/2020,06/09/2020,6,9,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,6.445678
04/05/2020,04/05/2020,4,5,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.061452
21/08/2020,21/08/2020,21,8,2020,102,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,9.217865
30/04/2020,30/04/2020,30,4,2020,2,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.075109

In [136]:
cleaned =data[data.countriesAndTerritories.isin(['Argentina', 'Brazil', 'China', 'Colombia', 'India', 'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA'])]
cleaned

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
01/01/2020,01/01/2020,1,1,2020,0,0,India,IN,IND,1.366418e+09,Asia,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Mexico,MX,MEX,1.275755e+08,America,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,USA,US,USA,3.290649e+08,America,NaN
01/01/2020,01/01/2020,1,1,2020,0,0,Spain,ES,ESP,4.693706e+07,Europe,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18/09/2020,18/09/2020,18,9,2020,3395,21,UK,UK,GBR,6.664711e+07,Europe,61.822634
18/09/2020,18/09/2020,18,9,2020,7568,187,Colombia,CO,COL,5.033944e+07,America,203.361408
18/09/2020,18/09/2020,18,9,2020,43567,831,USA,US,USA,3.290649e+08,America,159.179230
18/09/2020,18/09/2020,18,9,2020,1583,13,Italy,IT,ITA,6.035955e+07,Europe,33.321987
18/09/2020,18/09/2020,18,9,2020,14389,90,Spain,ES,ESP,4.693706e+07,Europe,300.510940

In [135]:
pdf=data.pivot(columns='countriesAndTerritories',values='cases').fillna(0)
pdf

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Republic_of_Tanzania,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
01/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01/03/2020,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01/04/2020,25.0,20.0,132.0,6.0,0.0,0.0,0.0,0.0,39.0,5.0,...,0.0,0.0,6.0,24.0,0.0,6.0,0.0,0.0,0.0,1.0
01/05/2020,222.0,7.0,158.0,2.0,0.0,0.0,0.0,143.0,82.0,0.0,...,0.0,0.0,13.0,44.0,2.0,0.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
31/03/2020,27.0,11.0,73.0,36.0,0.0,0.0,0.0,146.0,50.0,0.0,...,5.0,0.0,29.0,4.0,16.0,3.0,0.0,0.0,6.0,0.0
31/05/2020,866.0,23.0,133.0,0.0,7.0,0.0,0.0,795.0,355.0,0.0,...,0.0,0.0,5.0,41.0,90.0,0.0,0.0,23.0,0.0,14.0
31/07/2020,71.0,92.0,602.0,4.0,78.0,0.0,0.0,5641.0,354.0,1.0,...,0.0,0.0,6.0,686.0,1288.0,50.0,0.0,15.0,306.0,213.0
31/08/2020,19.0,101.0,364.0,0.0,73.0,0.0,0.0,9217.0,124.0,22.0,...,0.0,5.0,15.0,348.0,922.0,0.0,0.0,6.0,123.0,6.0